form {
    width:300px;
    margin:10px auto;
}
form {
    width:300px;
    margin:10px auto;
}
form {
    width:300px;
    margin:10px auto;
}
form {
    width:300px;
    margin:10px auto;
}
.letakpencarian{
	margin: 20px 10px 20px 10px;
 list-style: none;
 position: relative;
 display: inline-table;
 width: 100%;

}